# Exclude raw large datasets
datasets/

# Exclude large intermediate processed parquet/pickle arrays
processed/

# Exclude heavy machine learning binaries/saved models
models/

# Exclude python environment cache files
__pycache__/
*.pyc
.venv/
venv/
.DS_Store